@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-900 text-slate-100 antialiased selection:bg-orange-500 selection:text-white min-h-screen flex flex-col font-sans;
    background-image: 
      radial-gradient(at 0% 0%, rgba(249, 115, 22, 0.08) 0px, transparent 50%),
      radial-gradient(at 100% 100%, rgba(239, 68, 68, 0.05) 0px, transparent 50%);
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f172a;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f97316;
}
